@use '../../style/helpers/variables';

.promo {
    margin-bottom: 63px;

    &__content {
        display: flex;
        column-gap: 24px;
        padding: 68px 80px 0px 120px;

        border-radius: 59px;
        background-color: var(--color-white-gray);

        &-wrapper {
            &-title {
                margin-bottom: 40px;

                max-width: 474px;

                font-weight: 900;
                font-size: 96px;
                line-height: 125%;
            }

            &-subtitle {
                margin-bottom: 51px;

                font-weight: 400;
                font-size: 32px;
                letter-spacing: -0.05em;
            }

            &-link {
                display: flex;
                align-items: center;
                column-gap: 34px;

                &-btn {
                    border-radius: 10px;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 500;
                    font-size: 30px;
                    letter-spacing: -0.05em;
                    padding: 19px 40px;
                }
            }
        }
    }
}

.highlight {
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        bottom: -12px;
        left: -20px;
        right: -60px;
        background: var(--color-white);
        transform: rotate(-2deg);
        width: 464px;
        height: 112px;
    }

    &-yellow::before {
        background: var(--color-yellow);
        width: 495px;
        height: 117px;
    }

    & span {
        position: relative;
    }
}
