:root {
    --container-width: 1780px;
    --container-padding-x: 30px;

    --color-black: #000000;
    --color-yellow: #ebd96b;
    --color-white: #ffffff;
    --color-gray: #7f7f7f;
    --color-white-gray: #f4f6f5;

    --font-family: 'Poppins', sans-serif;

    --transition-duration: 0.2s;
}
