:root {
    --container-width: 1730px;
    --container-padding-x: 35px;

    --color-dark: #22222b;
    --color-pink: #ff6991;
    --color-white: #ffffff;

    --color-background: #131318;

    --font-family: 'Roboto', sans-serif;

    --transition-duration: 0.2s;
}
