@use './helpers/variables' as *;

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    background-color: var(--color-background);
    padding: 0 var(--container-padding-x);
    font-family: var(--font-family);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}
